include README.rst
include data/*
include singlecellmultiomics/modularDemultiplexer/barcodes/*
include singlecellmultiomics/modularDemultiplexer/indices/*
include singlecellmultiomics/molecule/consensus_model/*
